<!--<div *ngFor="let data of storeData | async">-->
<!--  <p>{{data.name}}</p>-->
<!--  <p>{{data.url}}</p>-->
<!--</div>-->

<!--<input type="text" [(ngModel)]="name">-->
<!--<input type="text" [(ngModel)]="url">-->
<!--<button (click)="addData(name, url)">Add</button>-->
<div>
<p (click)="apicall()" [style]="style">
  Make api call
</p>

<app-gavali *ngFor="let title of titles"
  [isDataFetched]="isParentDataFetched"
  [title]="title"
  (colorEvent)="onColorEvent($event)"
>
  Children content
</app-gavali>
</div>
